<form action="/edit/<%= params[:filename] %>" method="post">
  <label for="content">Edit the content of <%= params[:filename] %>:</label>
  <textarea rows="20" cols="100" name="content" id="content"><%= @content %></textarea>
  <button type="submit">Save Changes</button>
</form>
